<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Books List</title>
  <link rel="icon" href="http://wetxt.ijemy.com/favicon.ico" type="image/x-icon" />
  <link href="../css/bootstrap.css" rel="stylesheet">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.js"></script>

  <style>
    .row-centered {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="input-group row-centered">
    不好意思，您必须通过手机端访问
  </div>
</body>

</html>
